.ac_control ul{
    margin: 0px !important; padding: 0px !important;
}
.ac_container{max-width: 100%;}
html body.awecontent-layout{
    height: auto;
    /* fix for default toolbar*/
    padding-top: 26px !important;
    /* fix for admin menu toolbar*/
    margin-top: 0px !important;
    background-color: #eee;
}
body.awecontent-layout .awemenu-top, body.awecontent-layout .awemenu-outleft .awemenu, body.awecontent-layout .awemenu-outright .awemenu {
  top: 26px; }

body.awecontent-layout .awemenu-nav.awemenu-outleft > .ac_control, body.awecontent-layout .awemenu-nav.awemenu-outleft > .ac_inline-control {
  left: auto;
  right: 1px; }
#toolbar, #admin-menu, #drupal-live-announce, .awemenu-box-action{display: none;}

.ac_creating .awemenu-nav .awemenu-item > a {border-bottom: none}