.form-item.form-item-bt-build{margin-bottom: 20px; margin-top: 20px;}
.awe-btn-build{
    border: 1px solid #000; padding: 5px 20px;
}
.awe-btn-build:hover{background: green; color: #fff; text-decoration: none;}
.awe-box-path{margin-bottom: 60px;}
.awe-left{float: left;}
.awe-clear-both:after{clear: both;}
.awe-menu-option{margin-left: 100px;}
.awe-hidden{display: none;}
.awe-btn-marin-top{margin-top: 50px;}
#awe-preloader{font-size: 35px; color: red; text-align: center; margin-top: 350px;}
body.awecontent-active, body.admin-menu.awecontent-active{
    /* fix for default toolbar*/
    padding-top: 0px !important;
    /* fix for admin menu toolbar*/
    margin-top: 0px !important;
}
.awecontent-wrapper{ background-image: none;}
.js-ac-buildzone iframe{width: 100vw;}
.awe-mega-menu{display: none;}