.awemenu-classic {
  /* Mobile */
}
.awemenu-classic .awemenu-container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fefefe;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#c1c1c1));
  background-image: -webkit-linear-gradient(top, #fefefe, #c1c1c1);
  background-image: -moz-linear-gradient(top, #fefefe, #c1c1c1);
  background-image: -ms-linear-gradient(top, #fefefe, #c1c1c1);
  background-image: -o-linear-gradient(top, #fefefe, #c1c1c1);
  background-image: linear-gradient(top, #fefefe, #c1c1c1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', endColorStr='#c1c1c1');
}
.awemenu-classic .awemenu > .awemenu-item:hover > a, .awemenu-classic .awemenu > .awemenu-item.awemenu-active > a {
  background-color: #c1c1c1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c1c1c1), to(#fefefe));
  background-image: -webkit-linear-gradient(top, #c1c1c1, #fefefe);
  background-image: -moz-linear-gradient(top, #c1c1c1, #fefefe);
  background-image: -ms-linear-gradient(top, #c1c1c1, #fefefe);
  background-image: -o-linear-gradient(top, #c1c1c1, #fefefe);
  background-image: linear-gradient(top, #c1c1c1, #fefefe);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c1c1c1', endColorStr='#fefefe');
}
.awemenu-classic .awemenu .awemenu-submenu {
  background-color: #fff;
}
.awemenu-classic .awemenu .awemenu-submenu .awemenu-item > a {
  padding: 20px 30px;
  border-bottom: 1px solid #ebebeb;
  display: block;
  font-size: 13px;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.awemenu-classic .awemenu .awemenu-submenu .awemenu-item > a .awemenu-arrow {
  margin-top: 6px;
}
.awemenu-classic .awemenu .awemenu-submenu .awemenu-item:last-child > a {
  border-bottom: 0;
}
.awemenu-classic .awemenu .awemenu-submenu .awemenu-item.awemenu-invert > .awemenu-submenu {
  border-left: 0;
  border-right: 1px solid #eee;
}
.awemenu-classic .awemenu .awemenu-submenu .awemenu-item:hover > a {
  color: #fff;
  background-color: #3b3b3b;
}
.awemenu-classic .awemenu .awemenu-submenu .awemenu-item .awemenu-submenu {
  border-left: 1px solid #eee;
  width: 100%;
}
.awemenu-classic.awemenu-mobile .awemenu-container {
  padding: 10px 15px;
}
.awemenu-classic.awemenu-mobile .awemenu-container .awemenu {
  background-color: #292c33;
}
.awemenu-classic.awemenu-mobile .awemenu-container .awemenu .awemenu-item > a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 15px 20px;
  line-height: 20px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
}
.awemenu-classic.awemenu-mobile .awemenu-container .awemenu .awemenu-item > a .awemenu-arrow {
  margin-top: 4px;
}
.awemenu-classic.awemenu-mobile .awemenu-container .awemenu .awemenu-item > a:before, .awemenu-classic.awemenu-mobile .awemenu-container .awemenu .awemenu-item > a:after {
  display: none;
}
.awemenu-classic.awemenu-mobile .awemenu-container .awemenu .awemenu-item .awemenu-submenu {
  background-color: #fefefe;
  padding: 0 15px;
}
.awemenu-classic.awemenu-mobile .awemenu-container .awemenu .awemenu-item .awemenu-submenu.awemenu-megamenu {
  padding: 0;
}
.awemenu-classic.awemenu-mobile .awemenu-container .awemenu .awemenu-item .awemenu-submenu .awemenu-item > a {
  padding-left: 0;
  padding-right: 0;
  color: #000;
}
