.awemenu-classic-color-1.awemenu-classic .awemenu-container {
  background-color: #a05192;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a05192), to(#952f83));
  background-image: -webkit-linear-gradient(top, #a05192, #952f83);
  background-image: -moz-linear-gradient(top, #a05192, #952f83);
  background-image: -ms-linear-gradient(top, #a05192, #952f83);
  background-image: -o-linear-gradient(top, #a05192, #952f83);
  background-image: linear-gradient(top, #a05192, #952f83);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a05192', endColorStr='#952f83');
}
.awemenu-classic-color-1.awemenu-classic .awemenu-left .awemenu,
.awemenu-classic-color-1.awemenu-classic .awemenu-right .awemenu,
.awemenu-classic-color-1.awemenu-classic .awemenu-outleft .awemenu,
.awemenu-classic-color-1.awemenu-classic .awemenu-outright .awemenu {
  background-color: #a05192;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a05192), to(#952f83));
  background-image: -webkit-linear-gradient(top, #a05192, #952f83);
  background-image: -moz-linear-gradient(top, #a05192, #952f83);
  background-image: -ms-linear-gradient(top, #a05192, #952f83);
  background-image: -o-linear-gradient(top, #a05192, #952f83);
  background-image: linear-gradient(top, #a05192, #952f83);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a05192', endColorStr='#952f83');
}
.awemenu-classic-color-1.awemenu-classic .awemenu-left .awemenu > .awemenu-item > a,
.awemenu-classic-color-1.awemenu-classic .awemenu-right .awemenu > .awemenu-item > a,
.awemenu-classic-color-1.awemenu-classic .awemenu-outleft .awemenu > .awemenu-item > a,
.awemenu-classic-color-1.awemenu-classic .awemenu-outright .awemenu > .awemenu-item > a {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.awemenu-classic-color-1.awemenu-classic .awemenu > .awemenu-item > a {
  color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.awemenu-classic-color-1.awemenu-classic .awemenu > .awemenu-item:hover > a, .awemenu-classic-color-1.awemenu-classic .awemenu > .awemenu-item.awemenu-active > a {
  color: #fff;
  background-color: #952f83;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#952f83), to(#a05192));
  background-image: -webkit-linear-gradient(top, #952f83, #a05192);
  background-image: -moz-linear-gradient(top, #952f83, #a05192);
  background-image: -ms-linear-gradient(top, #952f83, #a05192);
  background-image: -o-linear-gradient(top, #952f83, #a05192);
  background-image: linear-gradient(top, #952f83, #a05192);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#952f83', endColorStr='#a05192');
}
