.awemenu-default-color-1.awemenu-default.awemenu-nav, .awemenu-default-color-1.awemenu-default.awemenu-mobile {
  background-color: #0079c1;
}
.awemenu-default-color-1.awemenu-default.awemenu-nav .awemenu-dropdown .awemenu-item:hover > a {
  color: #0079c1;
}
.awemenu-default-color-1.awemenu-default .awemenu-outleft .awemenu,
.awemenu-default-color-1.awemenu-default .awemenu-outright .awemenu,
.awemenu-default-color-1.awemenu-default .awemenu-mobile .awemenu {
  background-color: #0079c1;
}
.awemenu-default-color-1.awemenu-default .awemenu-fullscreen-wrapper {
  background-color: rgba(0, 121, 193, 0.95);
}
