.awemenu-default-color-9.awemenu-default.awemenu-nav, .awemenu-default-color-9.awemenu-default.awemenu-mobile {
  background-color: #cd595a;
}
.awemenu-default-color-9.awemenu-default.awemenu-nav .awemenu-dropdown .awemenu-item:hover > a {
  color: #cd595a;
}
.awemenu-default-color-9.awemenu-default .awemenu-outleft .awemenu,
.awemenu-default-color-9.awemenu-default .awemenu-outright .awemenu,
.awemenu-default-color-9.awemenu-default .awemenu-mobile .awemenu {
  background-color: #cd595a;
}
.awemenu-default-color-9.awemenu-default .awemenu-fullscreen-wrapper {
  background-color: rgba(205, 89, 90, 0.95);
}
