.awemenu-default-color-5.awemenu-default.awemenu-nav, .awemenu-default-color-5.awemenu-default.awemenu-mobile {
  background-color: #1f1f1f;
}
.awemenu-default-color-5.awemenu-default.awemenu-nav .awemenu-dropdown .awemenu-item:hover > a {
  color: #1f1f1f;
}
.awemenu-default-color-5.awemenu-default .awemenu-outleft .awemenu,
.awemenu-default-color-5.awemenu-default .awemenu-outright .awemenu,
.awemenu-default-color-5.awemenu-default .awemenu-mobile .awemenu {
  background-color: #1f1f1f;
}
.awemenu-default-color-5.awemenu-default .awemenu-fullscreen-wrapper {
  background-color: rgba(31, 31, 31, 0.95);
}
