.awemenu-default-color-3.awemenu-default.awemenu-nav, .awemenu-default-color-3.awemenu-default.awemenu-mobile {
  background-color: #ab2bc1;
}
.awemenu-default-color-3.awemenu-default.awemenu-nav .awemenu-dropdown .awemenu-item:hover > a {
  color: #ab2bc1;
}
.awemenu-default-color-3.awemenu-default .awemenu-outleft .awemenu,
.awemenu-default-color-3.awemenu-default .awemenu-outright .awemenu,
.awemenu-default-color-3.awemenu-default .awemenu-mobile .awemenu {
  background-color: #ab2bc1;
}
.awemenu-default-color-3.awemenu-default .awemenu-fullscreen-wrapper {
  background-color: rgba(171, 43, 193, 0.95);
}
